@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* .cnav{
  padding: 50px;
} */
.navbar-toggler:focus{
  outline: none;
  box-shadow: none;
}
.navbar-toggler:active{
  background-color: blueviolet;
  color: white;
}

.btn:active{
    border: 2px solid blueviolet;
    border-radius: 25px;
    outline: none;

    box-shadow: none;
}
.head-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
  }
  @keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
  }
.display-6{
  font-family: 'Lobster', cursive;
}  
.heading{
  margin: 20px;
}
.ccardLink{
  text-decoration: none;
  color: black;
  text-align: center;
}
.ccardLink:hover{
  color: blue;
}
.ccard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}
.ccard:hover{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: -5px;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(174,70,252,1) 100%);
  color: white;
  transition: all 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02)
}