@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* .cnav{
  padding: 50px;
} */
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler:active {
  background-color: blueviolet;
  color: white;
}
.Nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: #fff;
}

.btn:active {
  border: 2px solid blueviolet;
  border-radius: 25px;
  outline: none;
  box-shadow: none;
}
.head-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.display-6 {
  font-family: "Lobster", cursive;
}
.heading {
  margin: 20px;
}
.ccardLink {
  text-decoration: none;
  color: black;
  text-align: center;
}
.ccardLink:hover {
  color: blue;
}
.ccard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}
.ccard:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: -5px;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(174, 70, 252, 1) 100%
  );
  color: white;
  transition: all 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
}
.about {
  margin-top: 130px;
}
.acard {
  border: none;
}
.location {
  margin-bottom: 50px;
  margin-top: 50px;
}
.loc {
  text-align: center;
  margin: 100px;
  color: white;
}
.neonText {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}
.vertical-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(17, 0, 255), 0 0 80px rgb(174, 0, 255),
      0 0 90px rgb(0, 4, 255), 0 0 100px rgb(0, 132, 255),
      0 0 150px rgb(255, 0, 212);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
.link {
  text-decoration: none;
  color: black;
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}
.link:hover {
  top: -5px;
  transition: all 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
}
footer {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1041%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c45 C 96%2c90.4 288%2c258.8 480%2c272 C 672%2c285.2 768%2c129.2 960%2c111 C 1152%2c92.8 1344%2c167 1440%2c181L1440 560L0 560z' fill='rgba(123%2c 81%2c 235%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c452 C 144%2c434 432%2c347.4 720%2c362 C 1008%2c376.6 1296%2c492.4 1440%2c525L1440 560L0 560z' fill='rgba(123%2c 81%2c 235%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1041'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
#devso {
  padding: 15px;
  text-decoration: none;
  color: #272424;
  font-size: 20px;
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}
#devso:hover {
  color: gray;
  top: -5px;
  transition: all 0.15s;
}
.rss {
  margin-top: 100px;
  text-align: center;
}
.laptop {
  margin: 50px;
  margin-left: 250px;
  margin-right: 250px;

  padding: 1px;
  border: solid gray 15px;
}
.lap-line {
  margin-top: -49px;
  margin-left: 200px;
  margin-right: 200px;
  border: solid gray 15px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .cam{
  color: red;
  position: absolute;
  margin: ;
} */
@media only screen and (max-width: 600px) {
  .laptop {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;

    padding: 1px;
    border: solid gray 15px;
  }
  .lap-line {
    margin-top: -9px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid gray 15px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
@media only screen and (max-width: 800px) {
  .laptop {
    /* margin: 50px;
    margin-left: 150px;
    margin-right: 150px; */

    padding: 1px;
    border: solid gray 10px;
  }
  .lap-line {
    margin-top: -49px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid gray 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .intern-sec {
    margin-bottom: 300px;
  }
}
.intern-sec {
  margin-top: 30px;
}
.card-pic {
  width: 100px;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  border: solid 4px #120e43;
  box-shadow: 0 5px 10px 0 rgba(20, 23, 71, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}
.card-pic:hover {
  top: -5px;
  transition: all 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
}
.intern-card {
  margin-top: 80px;
  text-align: center;
  border: none;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 14px 28px rgba(37, 36, 36, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

  transition: all 0.25s;
  border-radius: 25px;
  /* position: relative;
  top: 0;
  transition: top ease 0.3s; */
}
.intern-card:hover {
  box-shadow: 0 14px 28px rgba(20, 7, 46, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /* top:-5px; */
  /* transition: all 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02); */
}
.navbar .navbar-nav .nav-link:hover {
  color: #383cc1;
}
@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
}
.navbar .navbar-nav .nav-link {
  position: relative;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #383cc1;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}


.zoom-in-zoom-out {
  color: #349beb;
  margin-right: 10px;
  animation: zoom-in-zoom-out 2s ease-out infinite;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.parrent-div{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.zoom-out-zoom-in {
  color: #349beb;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  animation: zoom-out-zoom-in 2s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoom-out-zoom-in {
  0% {
    transform: scale(1.5, 1.5);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5);
  }
}

html, body, #root, .App, #app>div{
  height: 100%
}