@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* .cnav{
  padding: 50px;
} */
.navbar-toggler:focus{
  outline: none;
  box-shadow: none;
}
.navbar-toggler:active{
  background-color: blueviolet;
  color: white;
}

.btn:active{
    border: 2px solid blueviolet;
    border-radius: 25px;
    outline: none;

    box-shadow: none;
}
.head-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
  }
  @keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
  }
.display-6{
  font-family: 'Lobster', cursive;
}  